
@font-face {
  font-family: "Catamaran";
  src: url("Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("Mulish-VariableFont_wght.ttf");
  font-style: normal;
}

:root {
  --highlight: #132d85;
  --starlight: #fcc30b;
  --heading-family: Catamaran, sans-serif;
  --body-family: Mulish, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--body-family);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}
main {
  margin: 4rem auto;
  max-width: 60rem;
}
footer {
  margin: 4rem auto 0 auto;
  max-width: 60rem;
  background: var(--highlight);
  color: var(--starlight);
  text-align: right;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 2rem;
}
h1 {
  background: var(--highlight);
  color: white;
  font-family: var(--heading-family);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  text-transform: uppercase;
  position: relative;
}
p.subtitle {
  color: var(--highlight);
  font-family: var(--heading-family);
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 4rem 0;
  padding: 0.5rem;
}
h2, h3 {
  margin-bottom: 0;
  font-family: var(--heading-family);
}
h2 + p, h3 + p, h2 + ul, h3 + ul {
  margin-top: 0;
}
p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
li {
  padding-right: 0.5rem;
}
a {
  color: var(--highlight);
  text-decoration: none;
}
.lead {
  font-weight: bold;
  color: var(--highlight);
  font-size: 1.2em;
}
.sublead {
  font-weight: 500;
  font-size: 1.2em;
}
li strong {
  font-weight: 800;
  color: var(--highlight);
  font-variant: small-caps;
}
ul.details li::marker {
  content: "— ";
  /* list-style-type: "—"; */
}
.person {
  text-decoration: underline;
}

@media only screen and (max-width:500px) {
  h1, p.subtitle {
    font-size: 2rem;
  }
  body {
    font-size: 1.1rem;
    font-weight: normal;
  }
  main {
    margin: 0 auto;
  }
  p {
    padding-left: 1rem;
    padding-right: 1rem;  
  }
  li {
    padding-right: 1rem;  
  }
}
